In [2]:
import pandas as pd
url = "https://raw.githubusercontent.com/miab199/gwc-water/refs/heads/main/Self%20Supplied%20Industrial%20Water%20Use%20in%20the%20Tennessee%20Hydrologic%20Region%202010.csv?scrlybrkr=496e2411"
df = pd.read_csv(url)
df.head()

,County,Source of supply,Principal aquifer,Groundwater withdrawal (Mgal/d),Major river basin,Surface water withdrawal (Mgal/d)
0,Anderson,Clinch River,--,--,Upper Tennessee,0.524
1,Bradley,Hiwassee River,--,--,Middle Tennessee-Hiwassee,3.81
2,Carter,Well #1 & #2,Cambrian-Ordovician carbonate,0.134,--,--
3,Cocke,Well fields,Cambrian-Ordovician carbonate,0.214,--,--
4,Coffee,Well,Mississippian carbonate,0.020,--,--

In [3]:
numRows = len(df)
print("rows: ", numRows)

numColumns = len(df.columns)
print("columns: ", numColumns)

rows:  85
columns:  6

1. How concentrated is industrial water control in the Tennessee hydrologic region, and which communities bear the greatest extraction burden?



*   Cardinal Directions
*   Rural/Suburban/Urban






2. Which industrial sectors create the highest water stress relative to their geographic footprint?

*3. Which counties are most structurally dependent on self-supplied industrial water, and what does that imply for long-term sustainability?*

In [19]:
# looking for data about nas and nans
df.isna()

#find nas (axis 1 = rows, 0 = columns)
print(df.isna().any(axis=1))
# print(df.isna().sum(axis = 0 ))

0     False
1     False
2     False
3     False
4     False
      ...
80     True
81     True
82     True
83     True
84     True
Length: 85, dtype: bool

In [21]:
df_clean = df.dropna()
df_clean

,County,Source of supply,Principal aquifer,Groundwater withdrawal (Mgal/d),Major river basin,Surface water withdrawal (Mgal/d)
0,Anderson,Clinch River,--,--,Upper Tennessee,0.524
1,Bradley,Hiwassee River,--,--,Middle Tennessee-Hiwassee,3.81
2,Carter,Well #1 & #2,Cambrian-Ordovician carbonate,0.134,--,--
3,Cocke,Well fields,Cambrian-Ordovician carbonate,0.214,--,--
4,Coffee,Well,Mississippian carbonate,0.020,--,--
...,...,...,...,...,...,...
58,Sullivan,South Fork of Holston River,--,--,French Broad-Holston,17.3
59,Sullivan,Holston River area B,--,--,French Broad-Holston,18.9
60,Sullivan,South Fork Holston River,--,--,French Broad-Holston,58.5
61,Sullivan,South Fork Holston River,--,--,French Broad-Holston,104
62,Sullivan,South Fork Holston River,--,--,French Broad-Holston,279