In [3]:
import pandas as pd
url = "https://raw.githubusercontent.com/miab199/gwc-water/refs/heads/elysia/Self%20Supplied%20Industrial%20Water%20Use%20in%20the%20Tennessee%20Hydrologic%20Region%202010.csv"
df = pd.read_csv(url)
df.head()

,County,Source of supply,Principal aquifer,Groundwater withdrawal (Mgal/d),Major river basin,Surface water withdrawal (Mgal/d)
0,Anderson,Clinch River,--,--,Upper Tennessee,0.524
1,Bradley,Hiwassee River,--,--,Middle Tennessee-Hiwassee,3.81
2,Carter,Well #1 & #2,Cambrian-Ordovician carbonate,0.134,--,--
3,Cocke,Well fields,Cambrian-Ordovician carbonate,0.214,--,--
4,Coffee,Well,Mississippian carbonate,0.020,--,--

In [4]:
df

,County,Source of supply,Principal aquifer,Groundwater withdrawal (Mgal/d),Major river basin,Surface water withdrawal (Mgal/d)
0,Anderson,Clinch River,--,--,Upper Tennessee,0.524
1,Bradley,Hiwassee River,--,--,Middle Tennessee-Hiwassee,3.81
2,Carter,Well #1 & #2,Cambrian-Ordovician carbonate,0.134,--,--
3,Cocke,Well fields,Cambrian-Ordovician carbonate,0.214,--,--
4,Coffee,Well,Mississippian carbonate,0.020,--,--
...,...,...,...,...,...,...
80,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,NaN,NaN,NaN,NaN,NaN
82,NaN,NaN,NaN,NaN,NaN,NaN
83,NaN,NaN,NaN,NaN,NaN,NaN
84,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
numRows = len(df)
print("rows: ", numRows)

numColumns = len(df.columns)
print("columns: ", numColumns)

rows:  85
columns:  6

1. How concentrated is industrial water control in the Tennessee hydrologic region, and which communities bear the greatest extraction burden?



*   Cardinal Directions
*   Rural/Suburban/Urban






2. Which industrial sectors create the highest water stress relative to their geographic footprint?

*3. Which counties are most structurally dependent on self-supplied industrial water, and what does that imply for long-term sustainability?*

### Cleaning up data

In [5]:
# Looking for NAs or NaNs
df.isna()

,County,Source of supply,Principal aquifer,Groundwater withdrawal (Mgal/d),Major river basin,Surface water withdrawal (Mgal/d)
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
80,True,True,True,True,True,True
81,True,True,True,True,True,True
82,True,True,True,True,True,True
83,True,True,True,True,True,True
84,True,True,True,True,True,True

In [10]:
df.apply(lambda x: sum(x.isna()), axis = 0)

County                               22
Source of supply                     22
Principal aquifer                    22
Groundwater withdrawal (Mgal/d)      22
Major river basin                    22
Surface water withdrawal (Mgal/d)    22
dtype: int64